

  .button-container-style {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 30px;
    color: rgb(96, 96, 96);
    font-size: 12px;
    text-align: center;
    z-index: 200;
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    font-family: "Proxima N W02 Smbd";

    .ad-to-cart-container-style {
        width: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        .ad-to-cart-style{
            position: relative;
            width: 130px;
            height: 30px;
            border: 1px solid rgb(123, 123, 123);
            user-select: none;
            cursor: pointer;
        }
    }

    .find-store-container-style {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        .find-store-style {
            position: relative;
            width: 130px;
            height: 30px;
            border: 1px solid rgb(120, 120, 120);
            user-select: none;
            cursor: pointer;
            // margin-left: auto;
            // margin-right: auto;
        }
    }

    

    
}