

.copy-container-style {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 999;
    display: flex;
    flex-direction: column;
    top: 350px;
    pointer-events: none;


    .headline-container-style {
        position: relative;
        font-family: "Proxima N W02 Bold";
        user-select: none;
    }

    .summary-container-style {
        position: relative;
        font-family: "Proxima N W01 Reg";
        user-select: none;
    }


}