

  .nav-container-style {
    position: absolute;
    width: 70%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
   
   

    .nav-style {
        position: relative;
        height: 100%;
        width: 40px;
        background-color: grey;
        cursor: pointer;
		pointer-events: auto;
		box-sizing: border-box;
		border-radius: 20%;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
	
	.nav-selected-style {
		border: 5px solid black;
		
		transition: ease 0.3s;
	}

	#nav-1 {
		// background-color: pink;
		background-image: url(../assets/nav-1.jpg);
	}

	#nav-2 {
		// background-color: rgb(174, 35, 59);
		background-image: url(../assets/nav-2.jpg);
	}

	#nav-3 {
		// background-color: rgb(130, 130, 130);
		background-image: url(../assets/nav-3.jpg);
	}

	#nav-4 {
		//  background-color: rgb(34, 46, 135);
		background-image: url(../assets/nav-4.jpg);
	}

	#nav-5 {
		// background-color: rgb(41, 130, 29);
		background-image: url(../assets/nav-5.jpg);
	}
}

.nav-top {
	top: 90px;
}

.nav-bottom {
	bottom: 90px;
}