

  .slide-container-style {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .slide-style {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}