

@import 'fonts';


body {
    margin: 0px;
    padding: 0px;
}



.wrapper {
    position: absolute;
    max-width: 420px;
    max-height: 824px;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;


    .ad-container-style {
		position: absolute;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border: 1px solid black;

		@import 'background';
		@import 'logo';
		@import 'copy';
		@import 'slide';
		@import 'nav';
        @import 'buttons';
        
    }

   
}


